PORT=3000
API_KEY=unioescala_whatsapp
EVOLUTION_BASE_URL=http://47.79.36.116:8080
EVOLUTION_API_KEY=unioescala_whatsapp
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT=
SCHEDULER_INTERVAL=60
SYNC_PERIODIC_JOB_ENABLED=false
SYNC_PERIODIC_JOB_CRON=0 * * * *
APP_VERSION=
BUILD_COMMIT=
TZ=America/Sao_Paulo
